﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Calc Service Demo</h1>
    <h2>@Html.ActionLink("Calc Demo.... Hello", "Index", "Calc")</h2>
    <p>
        Source Code: <a href="https://gitlab.com/soninsunil/testwork.git">Personal Gitlab</a>
        <br />
        This web app demonstrates the following:
        <ul>
            <li>ASP.NET Core 3.1</li>
            <li>Unit Testing with xUnit.net</li>
        </ul>
    </p>
</div>
